@media only screen and (min-width: 0) {
  .container-column {
    width: 100%;
  }
  .tool-bar {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) {
  .container-column {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  .tool-bar {
    width: 100%;
  }
}
