@media only screen and (min-width: 0) {
  .container-column {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  .tool-bar {
    width: 100%;
  }

  /*categories start*/  
  .filter-for-images {
    width: 100%;
  }

  .box-collection {
    width: 100%;
  }
  /*categories end*/
}
@media only screen and (min-width: 321px) {
  .container-column {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  .tool-bar {
    width: 100%;
  }

  /*categories start*/  
  .filter-for-images {
    width: 100%;
  }

  .box-collection {
    width: 100%;
  }
  /*categories end*/
}
