@font-face {
  font-family: Ubuntu-Medium;
  src: url(/projectLayoutHtmlCss/login/css/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: SFUIText-RegularG1;
  src: url(/projectLayoutHtmlCss/login/css/fonts/SFUIText-RegularG1.otf);
}

@font-face {
  font-family: SFUIText-BoldG1;
  src: url(/projectLayoutHtmlCss/login/css/fonts/SFUIText-BoldG1.ttf);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
}

.container-column {
  display: flex;

  flex-direction: column;

  top: 0;
  left: 0;

  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.icon-close {
  align-self: flex-end;

  position: absolute;
  top: 20px;
  right: 20px;

  height: 20px;
  width: 20px;
}
.icon-back {
  align-items: flex-start;

  position: absolute;
  top: 20px;
  left: 20px;

  height: 10px;
  width: 20px;
}
.icon-search {
  align-self: flex-end;

  position: absolute;
  top: 21px;
  right: 20px;
}

.header-container {
  display: flex;
  align-self: center;

  position: absolute;
  top: 76px;

  height: 41px;
  width: 211px;

  margin-bottom: 38px;

  word-wrap: normal;
  white-space: pre;
  font-family: Ubuntu-Medium;
  font-size: 36px;
  color: #252525;
  letter-spacing: 0;
}
.title {
  width: 211px;

  margin: 0 0 0 0;
}
.color-title {
  height: 41px;

  margin: 0 0 0 0;
  padding: 0 1px 0 1px;

  background-color: #ffe500;
}

.container-credentials {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.credentials {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 155px;
  width: 245px;

  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
}
label {
  height: 20px;

  margin-bottom: 4px;
}
.username-box {
  height: 50px;
  width: 245px;

  margin-bottom: 22px;
  border-radius: 14px;
  border: 1px solid #979797;
}
.password-box {
  height: 50px;
  width: 245px;

  margin-bottom: 34px;
  border-radius: 14px;
  border: 1px solid #979797;
}
input {
  border: none;
  outline: none;
}
#username-text {
  margin: 14px auto 16px 14px;
}
#user-password {
  margin: 14px auto 16px 14px;

  font-family: SFUIText-BoldG1;
  font-size: 17px;
  color: #252525;
  letter-spacing: 2px;
  line-height: 20px;
}

button {
  align-self: center;
  position: absolute;
  top: 359px;

  width: 245px;
  height: 50px;

  background-color: #1357e0;
  border-radius: 14px;
  border-style: none;
}
#text-sign-in {
  font-family: SFUIText-BoldG1;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 20px;
}

.forgot-password-link {
  display: flex;
  align-self: center;

  position: absolute;
  top: 425px;

  width: 102px;
}
.registration-link {
  display: flex;
  align-self: center;

  position: absolute;
  top: 463px;
}
.support-links {
  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #1357e0;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}

canvas {
  position: fixed;
  bottom: 0;

  height: 100px;
  width: 320px;

  background-image: linear-gradient(
    180deg,
    #ffffff00 0%,
    #d1dce8 100%,
    #000000 100%
  );
}

.tool-bar {
  display: flex;
  align-items: baseline;
  justify-content: center;

  position: fixed;
  bottom: 0;

  z-index: 6;

  height: 50px;
  width: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffffff;
}
.tool-bar-text {
  margin: 0 0 0 0;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: rgba(38, 38, 38, 0.5);
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
.active-tool-bar-text {
  margin: 0 0 0 0;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #0e41a7;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
.active-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  width: 80px;

  color: #0e41a7;
}
.section-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  width: 80px;
}

/*categories start*/

.small-header-container {
  display: flex;

  position: absolute;
  top: 18px;
  left: 20px;

  word-wrap: normal;
  white-space: pre;
  font-family: Ubuntu-Medium;
  font-size: 21.07px;
  color: #252525;
  letter-spacing: 0;
}
.short-title {
  width: 48px;
  height: 18px;

  margin-right: 2px;
}
.short-color-title {
  height: 24px;

  padding: 0 1px 0 1px;

  background-color: #ffe500;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;

  position: absolute;
  top: 60px;
  left: 15px;
  right: 30px;
}
.tags {
  margin: 5px 5px 5px 5px;
  padding: 4px 6px 4px 6px;

  border-radius: 3px;

  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
}
#first-tags {
  background: #ffd2d2;
}
#second-tags {
  background: #bde1d8;
}
#third-tags {
  background: #d7e6fd;
}
#fourth-tags {
  background: #fff2e3;
}

.books-collection-container {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 20px;
  top: 287px;

  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
#books-collection-title {
  position: relative;
  margin-bottom: 7px;

  font-family: SFUIText-BoldG1;
  font-size: 28px;
  color: #252525;
  letter-spacing: 0;
  line-height: 35px;
}
.books-collection {
  display: flex;
  flex-direction: column;

  margin-right: 30px;
  margin-bottom: 80px;
}

.box-collection {
  position: relative;

  width: 270px;
  height: 152px;

  margin-bottom: 20px;
}

.image-books-collection {
  position: absolute;
  z-index: -1;
  margin: 0 0 0 0;

  object-fit: cover;
  width: 100%;
  height: 100%;

  border-radius: 6px;
}
.filter-for-images {
  position: absolute;
  top: 0;

  width: 270px;
  height: 152px;
  z-index: 1;

  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.collection-text {
  position: absolute;
  bottom: 17px;
  left: 19px;
  z-index: 2;

  width: 197px;
  height: 40px;

  font-family: SFUIText-RegularG1;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 20px;
}

.box-count {
  position: absolute;
  bottom: 17px;
  right: -10px;
  z-index: 3;

  width: 45px;
  height: 45px;

  background: #ffffff;
  box-shadow: -4px 5px 20px -8px #1357e0;
  border-radius: 7px;
  border-radius: 7px;
}
.number-count {
  position: absolute;
  top: 8px;
  left: 8px;

  z-index: 4;

  font-family: SFUIText-BoldG1;
  font-size: 21px;
  color: #1357e0;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}
.text-books {
  position: absolute;
  top: 21px;
  left: 8px;

  width: 29px;
  height: 19px;

  z-index: 5;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}

/*categories end*/

/*book collection start*/
.title-of-collection {
  position: relative;
  margin: 80px 9px 22px 20px;

  width: -webkit-fill-available;
  height: 62px;

  font-family: SFUIText-BoldG1;
  color: #252525;
  letter-spacing: 0;
  line-height: 31px;
}

#title-of-collection {
  font-size: 28px;
}

.collection-description {
  position: relative;
  top: 0;
  margin: 0 11px 39px 21px;
}

#text-collection-description {
  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  position: relative;
  top: 0;
  margin-bottom: 41px;
}
.books-information {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;

  width: 130px;
  height: 238px;
}

.shading-layer-for-cover {
  position: absolute;
  width: 130px;
  height: 190px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.book-covers {
  width: 130px;
  height: 190px;

  border-radius: 5px;
}

.author-information {
  opacity: 0.5;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  line-height: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-title {
  width: 130px;
  height: 29px;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  line-height: 15px;

  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*book collection end*/

/*details start*/

.background-box {
  position: relative;
  top: 0;
  z-index: -1;

  width: 100%;
  height: 259px;
  background: #d9dc3f;
}
.additional-layer {
  position: relative;
  top: 0;
  z-index: 0;

  width: 100%;
  height: 259px;
  background: rgba(0, 0, 0, 0.15);
}

.user-book-status-container {
  position: absolute;
  right: 0;
  top: 62px;
  z-index: 1;
  display: flex;
  flex-direction: column;

  width: 79px;
  height: 145px;
}

.user-book-status {
  display: flex;
  flex-direction: row;

  width: 79px;
  height: 45px;

  margin-bottom: 5px;

  background-color: white;
  border-radius: 9px 0 0 9px;
}
.active-user-book-status {
  display: flex;
  flex-direction: row;

  width: 79px;
  height: 45px;

  margin-bottom: 5px;

  background-color: #0e41a7;
  border-radius: 9px 0 0 9px;
}

.icons-of-status {
  align-self: center;

  position: absolute;
  right: 54px;
}

.text-status {
  align-self: center;

  position: relative;
  left: 32px;

  font-family: SFUIText-RegularG1;
  font-size: 9px;
  color: #252525;
  letter-spacing: 0;
  line-height: 10px;
}
.active-text-status {
  align-self: center;

  position: relative;
  left: 32px;

  font-family: SFUIText-RegularG1;
  font-size: 9px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 10px;
}

.book-information {
  position: relative;
  top: -197px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;

  margin-left: 20px;
}

.cover-box {
  width: 214px;
  height: 312px;

  margin-left: -6px;

  background-color: rgba(0, 0, 0);
  border-radius: 1px 4px 4px 1px;
}
.book-cover {
  width: 214px;
  height: 312px;

  opacity: 0.85;

  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.13), 8px 8px 9px 0 rgba(0, 0, 0, 0.04),
    0 12px 20px 0 rgba(218, 221, 63, 0.44),
    inset -1px 1px 0 0 rgba(255, 255, 255, 0.14);
  border-radius: 1px 4px 4px 1px;
}

.title-of-book {
  margin: 24px 20px 6px 0;

  width: -webkit-fill-available;
  height: 78px;
}

#title-of-book {
  font-size: 24px;

  font-family: SFUIText-RegularG1;
  font-size: 24px;
  color: #252525;
  letter-spacing: 0;
  line-height: 26px;
}

.book-author {
  opacity: 0.5;
  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  line-height: 15px;
}

.rate-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 12px 0 20px 0;
  width: 143px;
}
.star-box {
  flex-wrap: nowrap;
  width: 91px;
}
.icon-star-full {
  width: 15px;
  height: 15px;
}
.icon-star-empty {
  width: 15px;
  height: 15px;
}
.average-rate {
  margin-left: 6px;

  font-family: SFUIText-BoldG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
}
.count-of-users-responds {
  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #929292;
  letter-spacing: 0;
  line-height: 20px;
}

.book-description {
  display: flex;
}

.text-book-description {
  order: 0;
  height: 122px;
  overflow: hidden;
  margin-bottom: 10px;

  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + .text-book-description {
  height: auto;
}
label {
  order: 1;
  align-self: flex-end;
  cursor: pointer;
  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #0e41a7;
  letter-spacing: 0;
  line-height: 20px;
}

.details-tags-container {
  position: relative;
  left: -5px;
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 80px;
}

/*details end*/


/*done start*/
  
.title-of-period {
  position: relative;
  top: 80px;
  margin-left: 21px;

  width: 290px;
  height: 31px;
}
.number-of-books-read {
  position: absolute;
  top: 0;
  left: 84px;

  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #929292;
  letter-spacing: 0;
  line-height: 20px;
}
h1 {
  font-family: SFUIText-BoldG1;
  font-size: 28px;
  color: #252525;
  letter-spacing: 0;
  line-height: 31px;
}


.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  position: relative;
  top: 80px;

  margin: 0 0 35px 20px;
}
.books-information {
  display: flex;
  flex-direction: column;

  margin: 0 20px 25px 0;

  width: 130px;
  height: 238px;
}

.shading-layer-for-cover{
  position: absolute;
  width: 130px;
  height: 190px;
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
}
.book-covers {
  width: 130px;
  height: 190px;
  
  border-radius: 5px;
}

.author-information {  
  opacity: 0.5;
  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  line-height: 15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-title {
  width: 130px;
  height: 29px;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #252525;
  letter-spacing: 0;
  line-height: 15px;

  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*done end*/