@font-face {
  font-family: Ubuntu-Medium;
  src: url(/css/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: SFUIText-RegularG1;
  src: url(/css/fonts/SFUIText-RegularG1.otf);
}

@font-face {
  font-family: SFUIText-BoldG1;
  src: url(/css/fonts/SFUIText-BoldG1.ttf);
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  text-rendering: optimizeLegibility;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;

  top: 0;
  right: 0;

  width: 320px;
  height: -webkit-fill-available;
}
.container-column-categories{
 
}

.icon-close {
  align-self: flex-end;

  position: absolute;
  top: 20px;
  right: 20px;

  height: 20px;
  width: 20px;
}
.icon-back {
  align-items: flex-start;

  position: absolute;
  top: 20px;
  left: 20px;

  height: 10px;
  width: 20px;
}
.icon-search {
  align-self: flex-end;

  position: absolute;
  top: 21px;
  right: 20px;
}


.header-container {
  display: flex;
  align-self: center;

  position: absolute;
  top: 76px;

  height: 41px;
  width: 211px;

  margin-bottom: 38px;

  word-wrap: normal;
  white-space: pre;
  font-family: Ubuntu-Medium;
  font-size: 36px;
  color: #252525;
  letter-spacing: 0;
}
.title {
  width: 211px;

  margin: 0 0 0 0;
}
.color-title {
  height: 41px;

  margin: 0 0 0 0;
  padding: 0 1px 0 1px;

  background-color: #ffe500;
}

.credentials {
  display: flex;
  flex-direction: column;


  position: absolute;
  top: 155px;
  width: 245px;

  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #252525;
  letter-spacing: 0;
  line-height: 20px;
}
label {
  height: 20px;

  margin-bottom: 4px;
}
.username-box {
  height: 50px;
  width: 245px;

  margin-bottom: 22px;
  border-radius: 14px;
  border: 1px solid #979797;
}
.password-box {
  height: 50px;
  width: 245px;

  margin-bottom: 34px;
  border-radius: 14px;
  border: 1px solid #979797;
}
input {
  border: none;
  outline: none;
}
#username-text {
  margin: 14px auto 16px 14px;
}
#user-password {
  margin: 14px auto 16px 14px;

  font-family: SFUIText-BoldG1;
  font-size: 17px;
  color: #252525;
  letter-spacing: 2px;
  line-height: 20px;
}

button {
  position: absolute;
  top: 359px;

  width: 245px;
  height: 50px;

  background-color: #1357e0;
  border-radius: 14px;
  border-style: none;
}
#text-sign-in {
  font-family: SFUIText-BoldG1;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 20px;
}

.forgot-password-link {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 425px;

  width: 102px;
}
.registration-link {
  display: flex;
  justify-content: center;

  position: absolute;
  top: 463px;
}
.support-links {
  font-family: SFUIText-RegularG1;
  font-size: 12px;
  color: #1357e0;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  text-decoration: underline;
}

canvas {
  position: fixed;
  bottom: 0;


  height: 100px;
  width: 320px;

  background-image: linear-gradient(
    180deg,
    #ffffff00 0%,
    #d1dce8 100%,
    #000000 100%
  );
}


.tool-bar {
  display: flex;
  align-items: baseline;
  justify-content: center;

  position: fixed;
  bottom: 0;
  
  z-index: 6;

  height: 50px;
  width: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background: #ffffff;
}
.tool-bar-text {
  margin: 0 0 0 0;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: rgba(38, 38, 38, 0.5);
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
.active-tool-bar-text {
  margin: 0 0 0 0;

  font-family: SFUIText-RegularG1;
  font-size: 10px;
  color: #0e41a7;
  letter-spacing: 0;
  text-align: center;
  line-height: 15px;
}
.active-section{
display: flex;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  width: 80px;

  color: #0e41a7;
}
.section-bar{
 display: flex;
  flex-direction: column;
  justify-content: center;

  height: 50px;
  width: 80px;
}

